@media (max-width: 767px)

  .header
    .container
      width: 100%

  /*------------HEADER STYLES-----------*/
  .navbar-nav
    li
      a
        padding: 10px 9px 10px 0
        font-size: 11px

  .categories-bar
    padding: 10px 0
    .cat-menu
      padding-right: 0
      li
        margin-right: 10px
        a
          padding: 9px 0
          font-size: 13px
  /*---------END HEADER STYLES----------*/

  /*------------POST STYLES-------------*/
  .post-list
    padding-top: 50px

  .post
    padding-bottom: 50px
    h2
      a
        font-size: 35px
    span
      margin-bottom: 0
    .img-wrap
      img
        margin: 35px auto
    p
      text-align: center
      font-size: 15px
  /*---------END POST STYLES------------*/

  /*----------COMMENTS STYLES-----------*/
  .comment-respond
    h3
      font-size: 28px

  .comment-form
    .form-submit
      input[type=submit]
        font-size: 14px

  .comment-form
    .comment-form-author, .comment-form-email
      text-align: start
    .comment-form-comment
      text-align: start
    .form-submit
      text-align: start
      input[type=submit]
        font-size: 14px
  /*-------END COMMENTS STYLES---------*/

  /*-----------ABOUT STYLES------------*/
  .about
    padding: 50px 0 0 0
    .about-us
      h2
        margin-bottom: 35px
        font-size: 38px
      p
        margin-bottom: 25px
        text-align: center
        font-size: 15px
    .team
      margin-top: 50px
      h2
        margin-bottom: 40px
        font-size: 37px
  /*--------END ABOUT STYLES-----------*/

  /*--------SOCIAL-MEDIA STYLES--------*/
  #s-share-buttons
    margin: 50px 0
  /*-----END SOCIAL-MEDIA STYLES-------*/

  /*-----------FOOTER STYLES-----------*/
  .footer
    .foot-menu
      padding-top: 0
      margin-bottom: 15px
      li
        margin-right: 20px
        &:last-child
          margin-bottom: 0
  /*--------END FOOTER STYLES----------*/