@media (min-width: 768px) and (max-width: 991px)

  .container
    width: 750px

  /*------------HEADER STYLES-----------*/
  .navbar-nav
    li
      a
        padding: 15px 13px
        font-size: 14px


/*---------END HEADER STYLES----------*/