@import compass
@import compass/css3/user-interface
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

@font-face
  font-family: "proximanova"
  src: url('../fonts/proxima-nova/extrabold/proximanova-extrabold.ttf') format('truetype'), url('../fonts/proxima-nova/extrabold/proximanova-extrabold.otf') format('opentype')

@font-face
  font-family: "proximanova"
  src: url('../fonts/proxima-nova/bold/proximanova-semibold.ttf') format('truetype'), url('../fonts/proxima-nova/bold/proximanova-semibold.otf') format('opentype')

@font-face
  font-family: "proximanova"
  src: url('../fonts/proxima-nova/regular/proximanova-regular.ttf') format('truetype'), url('../fonts/proxima-nova/regular/proximanova-regular.otf') format('opentype')

@font-face
  font-family: "nexa-bold"
  src: url('../fonts/nexa-bold/nexa-bold.ttf') format('truetype'), url('../fonts/nexa-bold/nexa-bold.otf') format('opentype')
/*-----------RESET STYLES-------------*/
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  -moz-transition: 0.2s ease-out
  -o-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------HEADER STYLES-----------*/
.header
  .navbar
    min-height: 80px
    border-radius: 0
    .navbar-collapse
      padding: 0

.navbar-nav
  padding: 0
  li
    a
      font: 400 16px 'Nexa-Bold', sans-serif
      text-transform: uppercase
      color: $main-menu-color
    &.current-menu-item
      a
        color: $white-color

.row
  margin: 0

.categories-bar
  padding: 25px 0
  background: $categories-bg
  .cat-menu
    padding-right: 120px
  li
    margin-right: 30px
    &:last-child
      margin-right: 0
    a
      padding: 25px 0
      font: 400 16px 'Nexa-Bold', sans-serif
      text-decoration: none
      color: $grey-color
    &.current-menu-item
      a
        border-bottom: 1px solid $grey-color
/*---------END HEADER STYLES----------*/
.content
  min-height: 100vh
/*------------POST STYLES-------------*/
.post-list
  padding-top: 100px

.post
  padding-bottom: 100px
  h2
    margin-bottom: 20px
    a
      font: 400 48px 'Nexa-Bold', sans-serif
      text-decoration: none
      color: $post-title
  span
    display: block
    margin-bottom: 60px
    font: 600 14px 'ProximaNova', sans-serif
    color: $posted-color
  .img-wrap
    img
      margin: 50px auto
  p
    margin-bottom: 30px
    font-family: 'ProximaNova', sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 20px
    color: $post-title
    img
      display: block
      margin: 0 auto
  h3
    margin-bottom: 30px
    font: 600 28px 'ProximaNova', sans-serif
    color: $post-title
  .button
    position: relative
    padding-left: 30px
    font: 600 16px '', sans-serif
    text-decoration: none
    color: $post-title
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      margin-top: -11px
      width: 22px
      height: 22px
      background: url("../../images/read-more-icon.png") no-repeat
/*---------END POST STYLES------------*/

/*----------PAGINATION STYLES--------*/
.pag-wrap
  margin-bottom: 80px
  .page-numbers
    margin-right: 20px
    font: 600 16px 'ProximaNova', sans-serif
    text-decoration: none
    color: $post-title
    &:last-child
      margin-right: 0
  .next, .prev
    position: relative
    padding: 5px 12px
    border-radius: 4px
    background: $post-title
    &:before
      content: ''
      position: absolute
      left: 50%
      top: 50%
      margin-left: -5px
      margin-top: -9px
      width: 10px
      height: 18px
  .next
    &:before
      background: url("../../images/arrow-right.png") no-repeat
  .prev
    &:before
      background: url("../../images/arrow-left.png") no-repeat
/*-------END PAGINATION STYLES-------*/

/*--------SOCIAL-MEDIA STYLES--------*/
#s-share-buttons
  margin: 60px 0 90px 0
  display: flex
  justify-content: center
  span
    margin-bottom: 0
/*-----END SOCIAL-MEDIA STYLES-------*/

/*----------COMMENTS STYLES-----------*/
.comments-area
  .comments-title
    margin-bottom: 50px
    font: 400 34px 'nexa-bold', sans-serif
    color: $post-title

.comment-list
  .comment
    margin-bottom: 50px
    .comment-author
      display: inline-block
      margin-right: 30px
      float: left
    .comment-meta
      display: flex
      flex-direction: column
      .fn
        margin-bottom: 15px
        font: 600 24px 'ProximaNova', sans-serif
        color: $post-title
      a
        margin-bottom: 25px
        font: 600 14px 'ProximaNova', sans-serif
        text-decoration: none
        color: $grey-color
      p
        margin-bottom: 20px
      .reply
        a
          position: relative
          padding-left: 20px
          font: 600 16px 'ProximaNova', sans-serif
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            margin-top: -7px
            width: 17px
            height: 13px
            background: url("../../images/reply-icon.png") no-repeat

.comment-respond
  h3
    margin-bottom: 45px
    font: 400 34px 'nexa-bold', sans-serif
    color: $post-title
  label
    margin-bottom: 10px
    font: 600 18px 'ProximaNova', sans-serif
    color: $post-title


.comment-form
  max-width: 640px
  .comment-form-author, .comment-form-email
    input[type=text]
      padding: 5px
      display: block
      border: 1px solid #ccc
  .comment-form-comment
    textarea
      display: block
      width: 100%
      border: 1px solid #ccc
  .form-submit
    margin-bottom: 0
    input[type=submit]
      padding: 10px 20px
      font: 600 16px 'ProximaNova', sans-serif
      color: $white-color
      background: $black-color
      border-radius: 15px
      border: none

.children
  margin-left: 100px

.login-hidden
  display: none

.logged-in
  .login-hidden
    display: block
/*-------END COMMENTS STYLES---------*/

/*-----------ABOUT STYLES------------*/
.about
  padding: 100px 0 30px 0
  .about-us
    h2
      margin-bottom: 60px
      font: 400 48px 'nexa-bold', sans-serif
      color: $post-title
    p
      margin-bottom: 35px
      font-family: 'ProximaNova', sans-serif
      font-size: 16px
      font-weight: 400
      line-height: 20px
      color: $post-title
      &:last-child
        margin-bottom: 0
  .team
    margin-top: 100px
    h2
      margin-bottom: 60px
      font: 400 48px 'nexa-bold', sans-serif
      color: $post-title

.team-list
  li
    margin-bottom: 70px
    .img-wrap
      margin-bottom: 30px
      .img-responsive
        margin: 0 auto
    h3
      margin-bottom: 10px
      font: 600 18px 'ProximaNova', sans-serif
      font-size: 18px
      color: $post-title
    h4
      margin-bottom: 30px
      font: 600 16px 'ProximaNova', sans-serif
      color: $grey-color
    p
      font-family: 'ProximaNova', sans-serif
      font-size: 16px
      font-weight: 400
      line-height: 20px
      color: $post-title
/*--------END ABOUT STYLES-----------*/


/*-----------FOOTER STYLES-----------*/
.footer
  padding: 20px 0
  border-top: 1px solid $border-color
  overflow: hidden
  .foot-menu
    padding-top: 15px
    li
      margin-right: 30px
      &:last-child
        margin-right: 0
      a
        font: 600 14px 'ProximaNova', sans-serif
        text-decoration: none
        color: $grey-color
  p
    padding-top: 15px
    font: 600 14px 'ProximaNova', sans-serif
    color: $grey-color

#footer-sidebar
  .social-media
    li
      margin-right: 10px
      &:last-child
        margin-right: 0
      a
        display: block
        position: relative
        width: 40px
        height: 40px
        background: $black-color
        border-radius: 50px
        &:before
          content: ''
          position: absolute
          left: 50%
          top: 50%
      .twitter
        &:before
          margin-left: -9px
          margin-top: -8px
          width: 19px
          height: 16px
          background: url("../../images/twitter-icon.png") no-repeat
      .facebook
        &:before
          margin-left: -5px
          margin-top: -9px
          width: 11px
          height: 19px
          background: url("../../images/facebook-icon.png") no-repeat
      .pinterest
        &:before
          margin-left: -8px
          margin-top: -10px
          width: 16px
          height: 21px
          background: url("../../images/pinterest-icon.png") no-repeat
      .google
        &:before
          margin-left: -8px
          margin-top: -8px
          width: 17px
          height: 17px
          background: url("../../images/google-icon.png") no-repeat

/*--------END FOOTER STYLES----------*/



@import media1200
@import media992
@import media768
@import media320