@font-face {
  font-family: "proximanova";
  src: url("../fonts/proxima-nova/extrabold/proximanova-extrabold.ttf") format("truetype"), url("../fonts/proxima-nova/extrabold/proximanova-extrabold.otf") format("opentype");
}
@font-face {
  font-family: "proximanova";
  src: url("../fonts/proxima-nova/bold/proximanova-semibold.ttf") format("truetype"), url("../fonts/proxima-nova/bold/proximanova-semibold.otf") format("opentype");
}
@font-face {
  font-family: "proximanova";
  src: url("../fonts/proxima-nova/regular/proximanova-regular.ttf") format("truetype"), url("../fonts/proxima-nova/regular/proximanova-regular.otf") format("opentype");
}
@font-face {
  font-family: "nexa-bold";
  src: url("../fonts/nexa-bold/nexa-bold.ttf") format("truetype"), url("../fonts/nexa-bold/nexa-bold.otf") format("opentype");
}
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------HEADER STYLES----------- */
.header .navbar {
  min-height: 80px;
  border-radius: 0;
}
.header .navbar .navbar-collapse {
  padding: 0;
}

.navbar-nav {
  padding: 0;
}
.navbar-nav li a {
  font: 400 16px "Nexa-Bold", sans-serif;
  text-transform: uppercase;
  color: #ccc;
}
.navbar-nav li.current-menu-item a {
  color: #fff;
}

.row {
  margin: 0;
}

.categories-bar {
  padding: 25px 0;
  background: #f8f8f8;
}
.categories-bar .cat-menu {
  padding-right: 120px;
}
.categories-bar li {
  margin-right: 30px;
}
.categories-bar li:last-child {
  margin-right: 0;
}
.categories-bar li a {
  padding: 25px 0;
  font: 400 16px "Nexa-Bold", sans-serif;
  text-decoration: none;
  color: #555;
}
.categories-bar li.current-menu-item a {
  border-bottom: 1px solid #555;
}

/*---------END HEADER STYLES---------- */
.content {
  min-height: 100vh;
}

/*------------POST STYLES------------- */
.post-list {
  padding-top: 100px;
}

.post {
  padding-bottom: 100px;
}
.post h2 {
  margin-bottom: 20px;
}
.post h2 a {
  font: 400 48px "Nexa-Bold", sans-serif;
  text-decoration: none;
  color: #111;
}
.post span {
  display: block;
  margin-bottom: 60px;
  font: 600 14px "ProximaNova", sans-serif;
  color: #777;
}
.post .img-wrap img {
  margin: 50px auto;
}
.post p {
  margin-bottom: 30px;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
}
.post p img {
  display: block;
  margin: 0 auto;
}
.post h3 {
  margin-bottom: 30px;
  font: 600 28px "ProximaNova", sans-serif;
  color: #111;
}
.post .button {
  position: relative;
  padding-left: 30px;
  font: 600 16px "", sans-serif;
  text-decoration: none;
  color: #111;
}
.post .button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  background: url("../../images/read-more-icon.png") no-repeat;
}

/*---------END POST STYLES------------ */
/*----------PAGINATION STYLES-------- */
.pag-wrap {
  margin-bottom: 80px;
}
.pag-wrap .page-numbers {
  margin-right: 20px;
  font: 600 16px "ProximaNova", sans-serif;
  text-decoration: none;
  color: #111;
}
.pag-wrap .page-numbers:last-child {
  margin-right: 0;
}
.pag-wrap .next, .pag-wrap .prev {
  position: relative;
  padding: 5px 12px;
  border-radius: 4px;
  background: #111;
}
.pag-wrap .next:before, .pag-wrap .prev:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -9px;
  width: 10px;
  height: 18px;
}
.pag-wrap .next:before {
  background: url("../../images/arrow-right.png") no-repeat;
}
.pag-wrap .prev:before {
  background: url("../../images/arrow-left.png") no-repeat;
}

/*-------END PAGINATION STYLES------- */
/*--------SOCIAL-MEDIA STYLES-------- */
#s-share-buttons {
  margin: 60px 0 90px 0;
  display: flex;
  justify-content: center;
}
#s-share-buttons span {
  margin-bottom: 0;
}

/*-----END SOCIAL-MEDIA STYLES------- */
/*----------COMMENTS STYLES----------- */
.comments-area .comments-title {
  margin-bottom: 50px;
  font: 400 34px "nexa-bold", sans-serif;
  color: #111;
}

.comment-list .comment {
  margin-bottom: 50px;
}
.comment-list .comment .comment-author {
  display: inline-block;
  margin-right: 30px;
  float: left;
}
.comment-list .comment .comment-meta {
  display: flex;
  flex-direction: column;
}
.comment-list .comment .comment-meta .fn {
  margin-bottom: 15px;
  font: 600 24px "ProximaNova", sans-serif;
  color: #111;
}
.comment-list .comment .comment-meta a {
  margin-bottom: 25px;
  font: 600 14px "ProximaNova", sans-serif;
  text-decoration: none;
  color: #555;
}
.comment-list .comment .comment-meta p {
  margin-bottom: 20px;
}
.comment-list .comment .comment-meta .reply a {
  position: relative;
  padding-left: 20px;
  font: 600 16px "ProximaNova", sans-serif;
}
.comment-list .comment .comment-meta .reply a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 17px;
  height: 13px;
  background: url("../../images/reply-icon.png") no-repeat;
}

.comment-respond h3 {
  margin-bottom: 45px;
  font: 400 34px "nexa-bold", sans-serif;
  color: #111;
}
.comment-respond label {
  margin-bottom: 10px;
  font: 600 18px "ProximaNova", sans-serif;
  color: #111;
}

.comment-form {
  max-width: 640px;
}
.comment-form .comment-form-author input[type=text], .comment-form .comment-form-email input[type=text] {
  padding: 5px;
  display: block;
  border: 1px solid #ccc;
}
.comment-form .comment-form-comment textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}
.comment-form .form-submit {
  margin-bottom: 0;
}
.comment-form .form-submit input[type=submit] {
  padding: 10px 20px;
  font: 600 16px "ProximaNova", sans-serif;
  color: #fff;
  background: #000;
  border-radius: 15px;
  border: none;
}

.children {
  margin-left: 100px;
}

.login-hidden {
  display: none;
}

.logged-in .login-hidden {
  display: block;
}

/*-------END COMMENTS STYLES--------- */
/*-----------ABOUT STYLES------------ */
.about {
  padding: 100px 0 30px 0;
}
.about .about-us h2 {
  margin-bottom: 60px;
  font: 400 48px "nexa-bold", sans-serif;
  color: #111;
}
.about .about-us p {
  margin-bottom: 35px;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
}
.about .about-us p:last-child {
  margin-bottom: 0;
}
.about .team {
  margin-top: 100px;
}
.about .team h2 {
  margin-bottom: 60px;
  font: 400 48px "nexa-bold", sans-serif;
  color: #111;
}

.team-list li {
  margin-bottom: 70px;
}
.team-list li .img-wrap {
  margin-bottom: 30px;
}
.team-list li .img-wrap .img-responsive {
  margin: 0 auto;
}
.team-list li h3 {
  margin-bottom: 10px;
  font: 600 18px "ProximaNova", sans-serif;
  font-size: 18px;
  color: #111;
}
.team-list li h4 {
  margin-bottom: 30px;
  font: 600 16px "ProximaNova", sans-serif;
  color: #555;
}
.team-list li p {
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
}

/*--------END ABOUT STYLES----------- */
/*-----------FOOTER STYLES----------- */
.footer {
  padding: 20px 0;
  border-top: 1px solid #858585;
  overflow: hidden;
}
.footer .foot-menu {
  padding-top: 15px;
}
.footer .foot-menu li {
  margin-right: 30px;
}
.footer .foot-menu li:last-child {
  margin-right: 0;
}
.footer .foot-menu li a {
  font: 600 14px "ProximaNova", sans-serif;
  text-decoration: none;
  color: #555;
}
.footer p {
  padding-top: 15px;
  font: 600 14px "ProximaNova", sans-serif;
  color: #555;
}

#footer-sidebar .social-media li {
  margin-right: 10px;
}
#footer-sidebar .social-media li:last-child {
  margin-right: 0;
}
#footer-sidebar .social-media li a {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50px;
}
#footer-sidebar .social-media li a:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}
#footer-sidebar .social-media li .twitter:before {
  margin-left: -9px;
  margin-top: -8px;
  width: 19px;
  height: 16px;
  background: url("../../images/twitter-icon.png") no-repeat;
}
#footer-sidebar .social-media li .facebook:before {
  margin-left: -5px;
  margin-top: -9px;
  width: 11px;
  height: 19px;
  background: url("../../images/facebook-icon.png") no-repeat;
}
#footer-sidebar .social-media li .pinterest:before {
  margin-left: -8px;
  margin-top: -10px;
  width: 16px;
  height: 21px;
  background: url("../../images/pinterest-icon.png") no-repeat;
}
#footer-sidebar .social-media li .google:before {
  margin-left: -8px;
  margin-top: -8px;
  width: 17px;
  height: 17px;
  background: url("../../images/google-icon.png") no-repeat;
}

/*--------END FOOTER STYLES---------- */
@media (min-width: 1200px) {
  .container {
    width: 985px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------HEADER STYLES----------- */
  .navbar-nav li a {
    padding: 15px 13px;
    font-size: 14px;
  }
}
/*---------END HEADER STYLES---------- */
@media (max-width: 767px) {
  .header .container {
    width: 100%;
  }

  /*------------HEADER STYLES----------- */
  .navbar-nav li a {
    padding: 10px 9px 10px 0;
    font-size: 11px;
  }

  .categories-bar {
    padding: 10px 0;
  }
  .categories-bar .cat-menu {
    padding-right: 0;
  }
  .categories-bar .cat-menu li {
    margin-right: 10px;
  }
  .categories-bar .cat-menu li a {
    padding: 9px 0;
    font-size: 13px;
  }

  /*---------END HEADER STYLES---------- */
  /*------------POST STYLES------------- */
  .post-list {
    padding-top: 50px;
  }

  .post {
    padding-bottom: 50px;
  }
  .post h2 a {
    font-size: 35px;
  }
  .post span {
    margin-bottom: 0;
  }
  .post .img-wrap img {
    margin: 35px auto;
  }
  .post p {
    text-align: center;
    font-size: 15px;
  }

  /*---------END POST STYLES------------ */
  /*----------COMMENTS STYLES----------- */
  .comment-respond h3 {
    font-size: 28px;
  }

  .comment-form .form-submit input[type=submit] {
    font-size: 14px;
  }

  .comment-form .comment-form-author, .comment-form .comment-form-email {
    text-align: start;
  }
  .comment-form .comment-form-comment {
    text-align: start;
  }
  .comment-form .form-submit {
    text-align: start;
  }
  .comment-form .form-submit input[type=submit] {
    font-size: 14px;
  }

  /*-------END COMMENTS STYLES--------- */
  /*-----------ABOUT STYLES------------ */
  .about {
    padding: 50px 0 0 0;
  }
  .about .about-us h2 {
    margin-bottom: 35px;
    font-size: 38px;
  }
  .about .about-us p {
    margin-bottom: 25px;
    text-align: center;
    font-size: 15px;
  }
  .about .team {
    margin-top: 50px;
  }
  .about .team h2 {
    margin-bottom: 40px;
    font-size: 37px;
  }

  /*--------END ABOUT STYLES----------- */
  /*--------SOCIAL-MEDIA STYLES-------- */
  #s-share-buttons {
    margin: 50px 0;
  }

  /*-----END SOCIAL-MEDIA STYLES------- */
  /*-----------FOOTER STYLES----------- */
  .footer .foot-menu {
    padding-top: 0;
    margin-bottom: 15px;
  }
  .footer .foot-menu li {
    margin-right: 20px;
  }
  .footer .foot-menu li:last-child {
    margin-bottom: 0;
  }

  /*--------END FOOTER STYLES---------- */
}
